# ── Base de données MySQL ──────────────────────────────────────────────────────
MYSQL_ROOT_PASSWORD=sqlrootpwd      # → GitHub Secret : MYSQL_ROOT_PASSWORD
MYSQL_DATABASE=sqldb
MYSQL_USER=sqluser
MYSQL_PASSWORD=sqluserpwd

# ── Base de données MongoDB ────────────────────────────────────────────────────
MONGO_INITDB_ROOT_USERNAME=mongouser
MONGO_INITDB_ROOT_PASSWORD=mongopwd # → GitHub Secret : MONGO_INITDB_ROOT_PASSWORD
